polkit.addRule(function(action, subject) {
    if (action.id == "org.freedesktop.NetworkManager.network-control" &&
        subject.isInGroup("rlat")) {
        return polkit.Result.YES;
    }
});